* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #F4F4F4; /* Light grey background */
    color: #333;
    margin: 0;
}

/* Header */
header {
    background-color: #333; /* Dark grey */
    color: #ce9e19; /* Yellow */
    padding: 40px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

header:hover {
    background-color: #444; /* Darker grey on hover */
}

header h1 {
    font-size: 3.5rem;
    margin-bottom: 10px;
    letter-spacing: 2px;
    color: #ce9e19;
    transition: color 0.3s ease;
}

header h1:hover {
    color: #FFA500; /* Orange-yellow on hover */
}

header p {
    font-size: 1.4rem;
    font-weight: 300;
    color: #FFE1C6;
    transition: color 0.3s ease;
}

header p:hover {
    color: #ce9e19;
}

/* About Section */
#about {
    background-color: #F4F4F4; /* Light grey */
    padding: 50px 0;
    text-align: center;
}

#about h2 {
    font-size: 2.8rem;
    margin-bottom: 20px;
    color: #333;
    transition: color 0.3s ease;
}

#about h2:hover {
    color: #ce9e19; /* Yellow */
}

#about .about-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 5px solid #ce9e19;
    transition: transform 0.3s ease, border-color 0.3s ease;
}

#about .about-img:hover {
    transform: scale(1.1); 
    border-color: #ce9e19;
}

#about p {
    font-size: 1.2rem;
    color: #666; /* Darker grey */
    max-width: 700px;
    margin: 0 auto;
    transition: color 0.3s ease;
}

#about p:hover {
    color: #333;
}

/* Skills Section */
#skills {
    background-color: #F9F9F9; /* Slightly darker grey */
    padding: 50px 0;
    text-align: center;
}

#skills h2 {
    font-size: 2.8rem;
    margin-bottom: 20px;
    color: #333;
}

#skills ul {
    list-style-type: none;
    font-size: 1.3rem;
    max-width: 800px;
    margin: 0 auto;
}

#skills li {
    margin-bottom: 12px;
    color: #333;
    transition: color 0.3s ease, transform 0.3s ease;
}

#skills li:hover {
    color: #ce9e19;
    transform: scale(1.05); 
}

/* Projects Section */
#projects {
    background-color: #F4F4F4; /* Light grey */
    padding: 50px 0;
    text-align: center;
}

#projects h2 {
    font-size: 2.8rem;
    margin-bottom: 20px;
    color: #333;
}

.project {
    display: inline-block;
    margin: 20px;
    text-align: left;
    width: 250px;
    background-color: #E8E8E8; /* Slight grey */
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
}

.project:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    background-color: #D3D3D3; /* Lighter grey */
    transform: translateY(-10px);
}

.project h3 {
    font-size: 1.8rem;
    margin-top: 10px;
    color: #333;
    transition: color 0.3s ease;
}

.project h3:hover {
    color: #ce9e19; /* Yellow */
}

.project a {
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #ce9e19; /* Yellow */
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.project a:hover {
    background-color: #FFA500; /* Darker yellow */
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Certificate Section */
#certificate {
    background-color: #F4F4F4; /* Light grey */
    padding: 50px 0;
    text-align: center;
}

#certificate h2 {
    font-size: 2.8rem;
    margin-bottom: 20px;
    color: #333;
}

.certificate {
    display: inline-block;
    margin: 20px;
    text-align: left;
    width: 250px;
    background-color: #E8E8E8; /* Grey */
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
}

.certificate:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    background-color: #D3D3D3;
    transform: translateY(-10px);
}

.certificate h3 {
    font-size: 1.8rem;
    margin-top: 10px;
    color: #333;
    transition: color 0.3s ease;
}

.certificate h3:hover {
    color: #FFD700; /* Yellow */
}

.certificate a {
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #ce9e19;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.certificate a:hover {
    background-color: #FFA500;
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Resume Section */
#resume {
    background-color: #F4F4F4; /* Light grey */
    padding: 50px 0;
    text-align: center;
}

#resume h2 {
    font-size: 2.8rem;
    margin-bottom: 20px;
    color: #333;
}

#resume a {
    font-size: 1.3rem;
    color: #333;
    text-decoration: none;
    background-color:#ce9e19;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

#resume a:hover {
    background-color: #FFA500;
    color: #FDF2E9;
    transform: scale(1.05);
    text-decoration: underline;
}

/* Contact Section */
#contact {
    background-color: #F4F4F4; /* Light grey */
    padding: 50px 0;
    text-align: center;
}

#contact h2 {
    font-size: 2.8rem;
    margin-bottom: 20px;
    color: #333;
}

#contact p {
    font-size: 1.3rem;
    color: #707B7C;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

#contact p:hover {
    color: #FFD700; /* Yellow */
}

/* Footer Section */
footer {
    background-color: #333;
    color: #FFD700;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 10px 0;
    transition: color 0.3s ease;
}

footer p:hover {
    color: #FFA500; /* Yellow-orange */
}

footer a {
    color: #FFD700;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #FFA500;
    text-decoration: underline;
}
